// navigation
header {
  position: relative;
  background: $white;
  box-shadow: 0 0 5px 0 rgba($dark, 0.5);
  z-index: 10;

  h3 {
    display: inline-block;
  }

  ul {
    float: right;
    text-align: right;

    li {
      margin-top: 4px;
      margin-left: 6px;
      a {
        display: block;
        padding: 5px;
      }
    }
  }

  @media screen and (max-width: 742px) {
    h3 {
      display: block;
      text-align: center;
    }
    ul {
      float: none;
      text-align: center;
    }
  }
}

// login
#login {
  height: 80vh;
  .signup-form {
    @media screen and (max-width: 742px) {
      padding-top: 10vh;
    }
  }
  .col2 {
    width: 400px;
    @media screen and (max-width: 742px) {
      width: 350px;
    }
    h1 {
      margin-bottom: 2rem;
    }
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    .bottom-options {
      margin-top: 0.5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        display: block;
        margin: 1rem;
      }
    }
  }
}

// NavBar
#navBar {
  display: flex;
  justify-content: space-around;

  .profile {
    color: black;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 50px;
    margin-right: 2vw;
    margin-bottom: 0;
    margin-top: 0.5vh;

    float: right;
    vertical-align: middle;
  }

  .profile-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .el-menu-item {
    text-align: center;
  }
}

// songs
#songs {
  z-index: 200;

  .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
  }
  .actions {
    display: flex;
  }
  .playlist-list {
    margin-top: 2vh;
    max-height: 30vh;
    overflow: auto;
  }
  .el-form--label-top .el-form-item__label {
    padding: 0;
  }
  .el-dialog__body {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}
// songs

#playlists {
  h1 {
    margin-bottom: 3vh;
  }
  .el-table tr {
    cursor: pointer;
  }
}

#playlist-detail {
  .el-page-header__content {
    font-size: 24px;
    // margin-bottom: 3vh;
  }
}

#player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .player-container {
    display: flex;
    justify-content: space-between;
  }
  .slider {
    flex-grow: 2;
  }
  p {
    margin: 0;
    margin: 0px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vh;
  }
  .music-icon {
    margin: 0;
    margin: 0px;
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 1.5vh;
  }

  .el-icon-video-play,
  .el-icon-video-pause {
    font-size: 24pt;
  }
  .play-button {
    padding: 0;
    border: none;
  }
}
